{% extends "base.html" %}
{% block content %}
    <div class="w-1/2 mx-auto py-9 m-10">
        {% if messages %}
            {% for message in messages %}
                {{message}}
            {% endfor %}
        {% endif %}
        {% comment %} {% if form.non_field_errors %}
            {% for error in form.non_field_errors %}
                <li>{{error}}</li>
            {% endfor %}
        {% endif %} {% endcomment %}
        <form action="" method="POST">
            {% csrf_token %}
            {% comment %} {{form}} {% endcomment %}
            {% for field in form %}
                <div class="mb-4">
                    <label class="block text-gray-700 font-medium mb-2">
                    {{ field.label }}
                    </label>

                    {{ field }}

                    {% if field.errors %}
                    <p class="text-red-500 text-sm mt-1">{{ field.errors.0 }}</p>
                    {% endif %}
                </div>
            {% endfor %}

            <button class="bg-blue-500 text-white mt-6 w-full py-2 rounded" type="submit">Sign In</button>
        </form>
        <p class="text-red-300 font-semibold py-6"><a href="{% url 'password_reset' %}">Reset Password</a></p>

    </div>
    

{% endblock content %}
